robotframework==7.2.2
python-dotenv==1.1.0
robotframework-requests==0.9.7
robotframework-seleniumlibrary==6.7.1
robotbackgroundlogger==1.2
RESTinstance==1.5.2
configparser==7.2.0
requests==2.32.3
paho-mqtt==2.1.0
docker==7.1.0
numpy==2.2.5
psutil==7.0.0
pyzmq==26.4.0
influxdb-client==1.48.0
psycopg2==2.9.10
pycryptodome==3.22.0
protobuf==6.30.2
pyjwt==2.10.1
cryptography==45.0.3
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
