robotframework==6.1.1
python-dotenv==1.0.1
robotframework-requests==0.9.5
robotframework-seleniumlibrary==6.2.0
robotbackgroundlogger==1.2
RESTinstance==1.3.0
configparser==6.0.0
requests==2.31.0
paho-mqtt==1.6.1
docker==7.1.0
numpy==1.26.2
psutil==5.9.5
redis==5.0.1
pyzmq==26.0.3
influxdb-client==1.41.0
psycopg2==2.9.9
pycryptodome==3.19.0
