robotframework==3.2.2
python-dotenv==0.15.0
robotframework-requests==0.8.0
robotframework-seleniumlibrary==5.1.3
robotbackgroundlogger==1.2
RESTinstance==1.0.2
configparser==5.0.1
requests==2.25.1
paho-mqtt==1.5.1
docker==4.4.1
numpy==1.18.4
psutil==5.7.0
redis==3.5.3
pyzmq==22.2.1
